body{
	background-color: rgb(130,102,58);
	max-width: 1200px;
}

div#title{
	display: inline-block;
	vertical-align: top;
	width: 100%;
	margin-left: 70px;
	font-size: 2em;
	color: rgb(218,201,166);
	font-family: "malgun gothic", simhei;
	font-weight: bold;
	text-align: right;
	background: url(https://unsplash.imgix.net/photo-1418479631014-8cbf89db3431?q=75&fm=jpg&s=478a9a2196033db7c0bf3c8ba3707f4d);
}

div#content{
	display: inline-block;
	vertical-align: top;
	margin-top: 1.5em;
	margin-left: 400px;
	padding: 1em;
	font-size: 1em;
	font-weight: bold;
	font-family: Meiryo, "微軟正黑體", "Microsoft JhengHei";
	background-color: rgba(181,202,160,0.5);
}
#send{
	background-color: rgb(235,122,119);
    color: #fff;
    font-family: 'Oswald';
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    border:none;
    font-family: Meiryo, "微軟正黑體", "Microsoft JhengHei";
    text-align: center;
}
#send:hover {
    border: none;
    background:#D0104C;
    box-shadow: 0px 0px 1px #777;
    text-align: center;
}